body{
  body{
  margin:0;
  overflow-x:hidden;
}

body.menu-open{
  overflow:hidden; /* supaya tidak bisa scroll */
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 20px;
  background:#081826;
  position:sticky;
  top:0;
  z-index:5000;
}

.logo{height:26px;}

.logo-text span{
  display:block;
  font-size:11px;
  line-height:1.2;
}

.nav-desktop{
  display:flex;
  gap:20px;
}

.nav-desktop a{
  color:white;
  text-decoration:none;
  font-size:14px;
}

/* HAMBURGER */
.menu-toggle{
  display:none;
  font-size:26px;
  cursor:pointer;
  z-index:7000;
}

@media(max-width:900px){
  .nav-desktop{display:none;}
  .menu-toggle{display:block;}
}

/* ================= SIDE MENU ================= */

.side-menu{
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background: #061421;
  padding: 60px 25px 30px;
  transition: 0.3s ease;
  z-index: 6000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-menu.active{
  right: 0;
}

.side-menu a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.menu-footer{
  margin-top: auto;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 15px;
}

.small-link{
  font-size: 13px !important;
  font-weight: 400 !important;
  opacity: 0.7;
}
