body{
margin:0;
background:#0b1120;
font-family:Arial;
color:white;
}

.spk-container{
max-width:600px;
margin:50px auto;
background:#111827;
padding:30px;
border-radius:15px;
box-shadow:0 0 40px rgba(0,195,255,0.4);
}

h1{
text-align:center;
color:#00c3ff;
}

input,select{
width:100%;
padding:12px;
margin:8px 0;
border-radius:8px;
border:none;
}

.btn-spk{
background:#00c3ff;
padding:12px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
margin-top:20px;
}
